<!DOCTYPE html>
<html lang="en">
  <%-include('./partials/head.ejs') %>
  <body>
    <%-include('./partials/nav.ejs') %>
    <h1>Posts:</h1>
    <ul>
      <li>
        <article>
          <h2>
            <a href="/posts/1">About lorem</a>
          </h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente
            quidem provident, dolores, vero laboriosam nemo mollitia impedit
            unde fugit sint eveniet, minima odio ipsum sed recusandae aut iste
            aspernatur dolorem.
          </p>
          <div class="info">
            <span>23/02/2023</span>
            <span>Erkin Kubatov</span>
          </div>
        </article>
      </li>
    </ul>
  </body>
</html>
